 <div class="header {% if site.header == 'large' %}header--large{% endif %}">
     <div class="container">
         <h1 class="logo"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 {%- for link in site.navigation -%}{%- assign current = nil -%}{%- if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html' -%}{%- assign current = 'current' -%}{%- endif -%}
                 <li class="element {%- if forloop.first -%}first{%- endif -%} {{ current }} {%- if forloop.last -%}last{%- endif -%}">
                     <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
                 </li>
                 {%- endfor -%}
                 <li>Una vita ordinaria in tempi straordinari</li>
                                <li class="lang-switcher">
                                    {% assign is_english = page.collection == 'chapters_en' %}
                                    {% assign is_italian = page.collection == 'chapters' %}
                                    {% if is_english %}
                                        <span class="lang-selected">ENG</span> |
                                        <a href="{{ page.url | replace_first:'/en/chapters','/chapters' }}">ITA</a>
                                    {% elsif is_italian %}
                                        <span class="lang-selected">ITA</span> |
                                        <a href="/en{{ page.url }}">ENG</a>
                                    {% else %}
                                        <span class="lang-selected">ITA</span> |
                                        <a href="/en/chapters/">ENG</a>
                                    {% endif %}
                                </li>
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
